body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  align-items: baseline;
  width: calc(100vw - 300px);
}

.header-title {
  flex-grow: 1;
}

.cart {
  position: fixed;
  right: 0px;
  height: 100vh;
  overflow: auto;
  top: 0px;
  padding: 20px;
  text-align: center;
  width: 250px;
  border-left: 1px solid #ccc;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.showcase-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 200px;
  width: calc(100% / 7);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 300px);
  align-items: baseline;
}
