body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.header {
  align-items: baseline;
  margin-left: 10px;
}

.cart {
  position: fixed;
  right: 0px;
  top: 0;
  overflow: auto;
  height: 100vh;
  padding: 20px 0 10px;
  text-align: center;
  border-left: 1px solid #ccc;
  min-width: 260px;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
}

.showcase-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 230px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.main {
  display: flex;
  width: calc(100% - 260px);
}
